/* azul para selected #4181C1*/
/* celeste para el hover rgb(129, 199, 241)*/
* {
	font-family: Segoe UI;
	font-weight: lighter;
	margin: 0; 
	padding: 0;
}
body {
	margin: 0;
}
div#base-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
div#page-container {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
}
div.header {
	border-bottom: 5px solid #c7c7c7;
}
h1 {
	color: #4181C1;
	font-weight: bolder;
}

h2 {
	color: #505050;
}
input[type="submit"], input[type="button"] {
	font-weight: bolder;
	padding: 0.5em;
	text-align: center;
	vertical-align: middle !important;
	background-color: #d9d9d9;
	border: 1px transparent solid;
	color: #505050;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	outline: none;
	font-size: 18px;
	line-height: 16px;
	margin: 5px 0;
	width: 160px;
}

input#input-cedula {
	display: block;
	margin: 15px 0px;
	width: 160px;
	height: 28px;
	font-size: 18px;
	text-align: center;
}
input[type="text"] {
	border: 3px #d9d9d9 solid;
	font-weight: 400;
	width: 150px;

}
input[type="radio"] {
	height: 25px;
}
input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #4181C1;
	color: #ffffff;
}

table {
	border-collapse: collapse;
}

td, th {
  border: 2px solid #999;
  padding: 0.5rem;
}
div.detail-box {
	min-width: 140px;
	width: 90%;
	max-width: 260px;
}
div.form-detail {
	height: 30px;
	margin: 10px 0;
	/*width: 250px;*/
}
div.form-detail:after {
  content:"";
  display:table;
  clear:both;
}
.form-detail label {
	float: left;
	width: 4em;
	color: rgb(173, 173, 173);
}
.form-detail input[type=text]{
	float: right;
}
.form-detail .gender {
	float: right;
}
label.gender.fem {
	color: #BC3884;
	font-weight: bolder;
}
label.gender.masc {
	color: #4181C1;
	font-weight: bolder;
}
#tab-container {
	float: left;
	height: 100%;
	background-color: #efefef;
	margin-right: 20px;
}
#tab-container h1 {
	font: normal 32px/32px Bitter; color: white;
	text-align: center; padding: 85px 100px;
}
#tab-container ul {
	/*border-top: 5px solid #C7C7C7;*/
	width: 200px; 
	margin: 0 auto;
}
#tab-container ul li {
	text-align: center;
}
#tab-container ul li a {
	display: block; 
	padding: 10px 15px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	color: #ffffff;
	color: rgb(173, 173, 173);
}
#tab-container ul li a:hover {
	color: #ffffff;
}
#tab-container li:hover {
	background-color: rgb(129, 199, 241);
}
li.selected {
	background-color: #4181C1;
}
li.selected a {
	color: #ffffff;
}
.styled-select {
	float: right;
	cursor: pointer;
	color: #777;
	width: 150px;
	font-size: 14px;
	line-height: 1;
	border: 3px #d9d9d9 solid;
	height: 22px;
}
div.btn-container {
	width: 340px;
	margin: 40px 0;
}