<html>
<head>
<title>Parque</title>
<link rel="stylesheet" type="text/css" href="/static/estilo.css">
</head>
<body>
	<div id="base-container">
		<div class="header">
			<h1>Registro de visitas y alquiler de bicicletas</h1>
		</div>
		<div id="tab-container">
			<ul>
				<li class="selected"><a>PORTERIA</a></li>
				<li><a href="/bici">BICICLETAS</a></li>
			</ul>
		</div>
		<div id="page-container">
			<h1>Ingrese N° de Cédula</h1>
			<h2>para comenzar</h2>

			<form method="GET" action="/buscar">
				<input type="text" id="id-cedula" name="cedula" value="" style="display: block; margin:15px 0px; width: 160px;">
				<input type="submit" value="Buscar">
			</form>
		{% block contenido_dinamico %}{% endblock%}
		</div>

	</div>
</body>
</html>